*{
    padding: 0;
    margin: 0;

}
body{
    background-image: url(nigga.jpg);
    background-repeat: no-repeat;
   
   
}

h1{
    text-align: center;
    padding: 10px;
    color: red;

   
}
.navbar a{
    text-decoration: none;
    text-align: center;
    color:black;
    list-style-type: none;
}
.navbar{
    text-align:center;
    padding: 15px;

}

